# Sphinx dependencies
sphinx
sphinx_material
sphinxcontrib-bibtex<2.0.0
sphinx-copybutton
sphinx-gallery

pandas
numpy
matplotlib
scipy
scikit-learn
cvxpy
screenot
statsmodels
git+https://github.com/jgreathouse9/mlsynth.git
